<div class="page-footer font-small collapse">
    <script src="/statics/js/footer.js"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="pt-3 position-absolute" id="version-number" >版號</p>
                <!-- Copyright -->
                <div class="footer-copyright text-end pt-3">
                    <p id="p-footer-copyright"></p>
                </div>
                <!-- Copyright -->
            </div>
        </div>
    </div>

</div>